<%- include('header.html') %>
	<div class="container">
	<h1>Nouvelle citation</h1>
	<div class="container">
		<form action="/post" method="POST">
			<div class="form-group">
				<label for="quote">Citation</label>
				<input type="text" class="form-control" id="quote" placeholder="Entrez une nouvelle citation...">
			</div>
			<div class="form-group">
				<label for="author">Auteur.e de la citation</label>
				<select class="form-control" id="author">
					<option>Vous</option>
					<option>Un.e auteur.e al&eacute;atoire</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<div class="container footer">
		<a href="/">Retourner vers la page d'acceuil</a>
	</div>
	</div>
	<%- include('footer.html') %>